*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: white;
    padding: 50px;
}

.search-bar{
    padding-top: 20px;
    padding-left: 20px;
}

.search-section{
    display: flex;
    flex-direction: column;
}